.info {
  max-width: none;
}

.stat, .state {
  font-weight: bold;
  min-width: 30px;
  display: inline-block;
}

.ready {
  color: green;
}

.total {
  color: blue;
}

.resourceListTable, .iucnSpeciesTable {
  border-collapse: collapse;
}
.resourceListTable td {
  padding-left: 15px;
  padding-right: 15px;
}
.resourceListTable .stat {
  padding-left: 5px;
  padding-right: 5px;
}


.iucnSpeciesTable td:nth-child(4),
.iucnSpeciesTable td:nth-child(5),
.iucnSpeciesTable td:nth-child(6),
.iucnSpeciesTable td:nth-child(7)
 {
  text-align: center;
}

.iucnSpeciesTable th {
  background-color: rgb(174,208,234);
}
.iucnSpeciesTable tr:nth-child(even) td {
  background-color: #eee;
}
.iucnSpeciesTable td:nth-child(1),
.iucnSpeciesTable td:nth-child(2) {
  min-width: 140px;
}
.state .ready {
  color: green;
}
.state .started {
  color: rgb(99,117,133);
}
.state {
  color: rgb(199,217,233);
}
