#toolbox.iucnToolbox {
	position: absolute;	
}

.successMessage {
	background-color: rgb(200,250,200);
	color: rgb(50,100,50);
}
.errorMessage {
	background-color: rgb(250,200,200);
}
.warningMessage {
	background-color: rgb(224, 171, 85);
	color: black;
}

.floatingErrorMessage {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 9996;
	width: 100%;
	margin: 0;
	padding-top: 30px;
}

.validationError {
	background-color: rgb(250,200,200) !important;
}
.info {
  max-width: none;
}

.stat, .state {
  font-weight: bold;
  min-width: 30px;
  display: inline-block;
}

.ready {
  color: green;
}

.total {
  color: blue;
}

.resourceListTable, .iucnSpeciesTable {
  border-collapse: collapse;
}
.resourceListTable td, .evaluationEdit td {
  padding-left: 15px;
  padding-right: 15px;
}
.resourceListTable .stat {
  padding-left: 5px;
  padding-right: 5px;
}
.evaluationEdit th, 
.evaluationEdit td {
  background-color: white;
  vertical-align: top;
}

.evaluationEdit .section label {
  padding-top: 30px;
  text-align: left;
  font-weight: bold !important;
}

.evaluationEdit th span {
  font-style: italic;
  font-size: 80%;
}
.evaluationEdit .section th {
	background-color: white !important;
	border-bottom: 3px solid #AED0EA;
}
.evaluationEdit th {
  font-size: 90%;
}
.evaluationEdit th, .evaluationEdit td {
	border-bottom: 1px solid #ccc;
}
.evaluationEdit th {
	background-color: rgb(174, 208, 234);
}

.evaluationEdit tbody th:nth-child(1) {
  max-width: 250px;
  font-weight: normal;
  text-align: left;
  background-color: rgb(222, 233, 242);
}

.iucnSpeciesTable td:nth-child(4),
.iucnSpeciesTable td:nth-child(5),
.iucnSpeciesTable td:nth-child(6),
.iucnSpeciesTable td:nth-child(7)
 {
  text-align: center;
}

.iucnSpeciesTable th, .iucnSpeciesTable td {
  padding: 3px;
  padding-right: 5px;
  padding-left: 5px;
  border: 1px solid #ddd;
  border-bottom: 1px solid grey;
 }
 
.iucnSpeciesTable th {
  background-color: rgb(174,208,234);
}
.iucnSpeciesTable tr:nth-child(even) td {
  background-color: #eee;
}
.iucnSpeciesTable td:nth-child(1),
.iucnSpeciesTable td:nth-child(2) {
  min-width: 140px;
}

.iucnSpeciesTable tfoot span {
  margin: 10px;
  display: inline-block;
}
.iucnSpeciesTable tfoot td {
  border: none;
  background: inherit;
}

.iucnSpeciesTable tfoot select, 
.iucnSpeciesTable tfoot input {
  width: auto;
}

.state {
  color: rgb(199,217,233);
}
.state.ready {
  color: green;
}
.state.started {
  color: rgb(99,117,133);
}
.correctedIndex {
  color: red;
}

.goBack {
  display: inline-block;
}
.goBack:before {
  content: "«";
}
.taxonTree {
  max-width: 390px;
}
.taxonTree .vernacularName {
  float: right;
  display: inline-block;
}

div#evaluationMeta {
  max-width: 1100px;
}

.taxonInfo {
  display: inline-block;
  vertical-align: top;
  float: left;
  margin: 0.2em;
  padding: 1em;
  
  border-radius: 3px;
  max-width: 35em;
  font-size: 80%;
}
.taxonInfo table td {
  min-width: 90px !important;
}

.noteViewer {
  display: inline-block;
  float: right;
  white-space: nowrap;
  font-size: 0.7em;
}

.evaluationEdit tbody tr td:nth-child(2) {
	max-width: 200px;
	background-color: rgb(237, 237, 237);
	color: rgb(130,130,160);
}
	
}

.evaluationEdit select,
.evaluationEdit input,
.evaluationEdit textarea {
  margin-right: 5px;
  margin-left: 5px;
}

.evaluationEdit textarea, 
.evaluationEdit select,
.evaluationEdit input.createPublication {
  width: 400px;
}
.evaluationEdit .minMax select,
.evaluationEdit select.shortChosen {
  width: 200px;
}
.evaluationEdit input {
  width: 270px;
}
.evaluationEdit input.integerProperty,
.evaluationEdit input.percentProperty {
  width: 90px;
}

.evaluationEdit textarea {
  height: 100px;
}
.evaluationEdit label {
  width: auto;
}

.notes label {
  margin-top: 1em;
  display: block;
}
.notes textarea {
  width: 350px;
}
.notes, .modalInfoContainer {
  display: block;
  display: none;
  box-shadow: rgba(0,0,0,0.9) 0px 2px 3px, inset rgba(0,0,0,0.9) 0px -1px 2px;
  background-color: rgb(255, 245, 175);
  border-radius: 2px;
  padding: 1em;
  margin: 2em;
}

.required {
  color: red;
  font-size: 20px;
  font-weight: bold;
}


.submitButtonContainer {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 99998;
  vertical-align: middle;
  background-color: #eee;
  border-top: 1px solid grey;
}
.submitButtonContainer > * {
  vertical-align: middle;
  margin: 1em;
}
.submitButtonContainer > button {
  padding: 1em;
}
button.add, .addHabitatPair {
  color: green;
  font-size: 10px;
}

.floatingHeader {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 5px;
  background-color: white;
  box-shadow: rgba(0,0,0,0.7) 0px 2px 3px, inset rgba(0,0,0,0.7) 0px -1px 2px;
  border-radius: 3px;
  z-index: 9997;
  font-size: 1em;
}
h2 a, h2 a:visited, h2 a:hover { color: inherit; }

label {
	cursor: default !important;
}
.habitatPair > * {
	display: block;
	margin-bottom: 5px;
}

.habitatPair {
	margin-bottom: 1em;
}

.editNotesInput {
	width: 30em;
}


.unitOfMeasurement {
	font-size: 80%;
}

.modalInfoContainer {
	position: fixed;
	top: 0px;
	left: 250px;
	height: auto;
	width: 600px;
	z-index: 99999;
	min-height: 100px;
}

#copyButton {
	margin-left: 20px;
}

.widgetTools {
  max-width: 90em;
  margin: 1em;
  margin-bottom: 3em;
}
.widgetTools > div {
  padding: 5px;
}
tr.criteriaRow > * {
	border-bottom-style: none;
}
tr.criteriaStatusRow > td {
	padding-bottom: 40px;
}
#remarksField {
  height: 10em;
  width: 80em;
}
li.remark {
  display: block;
  border: 1px solid rgb(221,221,221);
  border-radius: 5px;
  margin: 1em;
  padding: 1em;
  position: relative;
  max-width: 900px;
}
li.remark button.delete {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 80%;
}
li.remark pre {
  white-space: pre-wrap;
}
.ui-tooltip {
    white-space: pre-line;
}

span.synonyms {
  display: block;
  font-size: 80%;
}

td.groupEditors {
  white-space: normal;
  padding-bottom: 1em;
  vertical-align: top;
}

select.regionalOccurrence {
  width: 350px;
}
.regionalThreatened input {
  width: auto;
}
.regionalThreatened {
  margin-left: 1em;
}
.regionalThreatened {
  display: none;
}
.buttonContainer button {
  font-size: 10px;
  margin-left: 1em;
  margin-bottom: 0.3em;
}

#createNewIucnPublicationCitationInput {
  height: 150px;
}