#logo {
	background: url('img/LAJI_FI_valk_onlylogo.png') no-repeat 50%;
	height: 35px;
	width: 200px;
	display: inline-block;
	margin-right: 180px;
}
.ui-widget {
	font-size: 11px;
}

.speciesName {
	font-style: italic;
	white-space: nowrap;
}

.misappliedSynonyms .scientificName {
  text-decoration: overline;
  color: red;
}

.author {
	display: inline-block;
	max-width: 150px;
	font-size: 10px;
	padding-left: 7px;
	padding-right: 7px;
}

#toolbox {
	position: fixed;
	top: 65px;
	right: 15px;
	width: 276px;
	z-index: 10;
}
#toolbox.positioned {
  top: 0px;
}
#toolboxToggle { cursor: pointer; }
#toolbox > div { 
	padding: 5px; 
}
#toolbox > div, #toolbox > table {
	width: 100%;
}
#toolbox table tr td {
	vertical-align: top;
}

.switchContainer {
	display: inline-block;
}
#taxonSearch input {
	display: inline-block;
}

.taxonomySearchResultContainer p {
	padding: 0px;
	margin: 0px;
	font-size: 90%;
	font-weight: normal;
}
.taxonomySearchResultContainer h3 {
    margin: 0px;
	padding: 0px;
	font-size: 90%;
}
.taxonomySearchResultContainer a {
	color: rgb(33, 97, 203);
}


.resourceListTable thead th {
  background-color: rgb(174,208,234);
}
.resourceListTable tr:nth-child(even) {
	background-color: #eee;
}
.resourceListTable td, .resourceListTable th {
	padding: 5px;
}

label.longtext {
	display: block;
}

label { 
	display: inline-block;
	min-width: 155px;
}
#editTaxonDescriptions label {
	width: auto;
	text-align: left;
	padding: 0;
	margin: 0;
}
select, input {
	width: 185px;
}
#groupForm select {
	width: 400px;
}
#editTaxonDescriptions input {
	width: 400px;
}
textarea {
	height: 3em;
	width: 190px;
}
input[type="submit"] {
	width: auto;
}
.requiredFieldMarker {
	color: red;
	font-weight: bold;
	font-size: 120%;
	cursor: pointer;
}

form ul li {
	list-style: none;
}

#checklistForm .checklistName, #checklistForm textarea, #groupForm textarea {
	width: 300px;
	height: auto;
}
#publicationForm .citation {
	width: 600px;
	height: 120px;
}

#editTaxonContent .ui-button-text {
	padding: 2px;
	padding-left: 0;
	padding-right: 0;
	font-size: 80%;
}

#editTaxonContent .saveButton {
	padding: 10px;
	font-size: 120%;
	margin-top: 2px;
	margin-left: 10px;
	display: block;
	border: 8px groove green;
}

#vernacularNameTable label {
	min-width: 30px;
}
.languageSelector {
	width: auto;
}
a.addNewItem {
	color: rgb(20,110,20);
	margin-bottom: 9px;
	display: inline-block;
	cursor: pointer;
}

div.success {
	display: block;
	font-weight: bold;
	margin: 3px;
	margin-left: 30px;
}
div#taxonEditHeader {
	display: inline-block;
	font-size: 150%;
	color: rgb(100,150,100);
}
.editor, .expert {
	padding: 5px;
}
.taxonChildTools .taxonEditorExpert {
	color: white;
	padding: 5px;
	font-size: 90%;
}
.noPermissionsToAlterTaxon {
	margin: 10px;
	color: rgb(131, 121, 121);
	font-weight: bold;
}
.publicationSelect select, select.chosen, .chosen-container, .newPublicationInput {
	width: 380px;
}
li.search-choice {
  max-height: 48px;
  overflow: hidden;
}
li.search-choice:HOVER {
  max-height: 300px;
  overflow: hidden;
}
#nameDecidedBy {
  width: 185px;
}
.publicationSelect .chosen-drop {
	width: 800px !important;
}

tr.errorMessage td {
	min-width: 150px;
}

.showChildrenTools {
	display: inline-block;
}

#descriptionTextButton, #imagesButton  {
	font-size: 0.8em;
	padding: 0.2em;
	padding-left: 1em;
	padding-right: 2em;
	margin: 0.5em;
	margin-left: 1em;
}
#descriptionTextButton {
	background-image: url("img/taxonedit_text.png");
	background-repeat: no-repeat;
	background-position: right 5px center;
}
#imagesButton {
	background-image: url("img/taxonedit_image.png");
	background-repeat: no-repeat;
	background-position: right 5px center;
}

#iframeContainer iframe {
	height: 100%;
	width: 100%;
}

#editTaxonDescriptions {
  padding-bottom: 10em;
}

/**#editTaxonDescriptions .portlet {
	margin: 0;
	margin-bottom: 2em;
} 

#editTaxonDescriptions .portlet-header {
	padding: 0.6em;
	font-size: 1.2em;
}*/
#editTaxonDescriptions table {
	border-collapse: separate;
	width: 100%;
}
#editTaxonDescriptions table td {
	width: 33%;
	border: 3px solid rgb(240,240,240);
	padding: 5px;
	border-spacing: 10px;
	vertical-align: top;
}
#editTaxonDescriptions .content { cursor: pointer; height: 100%; }
#editTaxonDescriptions a,
#editTaxonDescriptions a:hover,
#editTaxonDescriptions a:visited {
	color: blue;
}
#editTaxonDescriptions table td .info {
	color: rgb(200,200,200);
}
.emptyContent {
	margin: 0;
	padding: 2em;
	border: none;
}
#editTaxonDescriptions .ui-widget-content {
	background: none;
	background-color: white;
	font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 14px;
}
#editTaxonDescriptions .saveButton {
	width: 100%;
	padding: 2em;
}
.noscroll {
	overflow: hidden;
}
.closeEditorButton {
	height: 40px;
	margin: 1em;
}
.closeEditorButton.doSave {
	width: 500px;
}


.deleteButton {
	background: red !important; 
}

#editTaxonDescriptions .textareaContainer {
	margin: 0;
	padding: 0;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: white;
	z-index: 11;
	overflow-y: auto !important;
	overflow-x: hidden;
}
.informalGroupsTable td {
	max-width: 300px;
	padding-bottom: 0px;
	padding-top: 0px;
	white-space: nowrap;
	overflow: hidden;
	font-size: 13px;
	vertical-align: top;
}

.informalGroupsTable tr:nth-child(2n) {
	background-color: inherit;
}

.informalGroupsTable {
	border-collapse: collapse;
}

.informalGroupsTable tr.even { background-color: #eee !important; }

span.indent { display: inline-block; }
.indent_0 td { padding-bottom: 5px; border-top: 20px solid transparent; }
.indent_1 span.indent { padding-left: 20px; }
.indent_2 span.indent { padding-left: 50px; }
.indent_3 span.indent { padding-left: 70px; }
.indent_4 span.indent { padding-left: 80px; }
.indent_5 span.indent { padding-left: 110px; }
.indent_6 span.indent { padding-left: 120px; }
.indent_7 span.indent { padding-left: 150px; }

.informalGroupsTable .ui-button-text {
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 9px;
}

.inheritedValues li {
  max-width: 350px;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 1em;
}

.inheritedValues li:HOVER {
  white-space: normal;
  overflow: auto;
}

#loadsUglyBlocker {
  position: absolute;
  background-color: red;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: white;
  text-align: center;
  padding-top: 100px;
  color: grey;
  font-size: 5em;
}

#modifyCitation input {
  width: 600px;
}

#biogeographicalProvinceTable .status {
	 width: 100px;
}
#biogeographicalProvinceTable .notes {
  width: 200px;
}
#biogeographicalProvinceTable .year {
  width: 40px;
}

img.finnishTaxonFlag {
	width: 17px;
	padding-top: 4px;
}

table.redListTable th, table.redListTable td {
	padding: 2px;
	padding-right: 5px;
}

table#invasiveSpecies {
	border-collapse: collapse;
	font-size: 80%;
}
table#invasiveSpecies td, table#invasiveSpecies th {
	border: 1px solid grey;
	padding: 2px;
}
table#invasiveSpecies .error {
	background-color: rgb(200,100,100);
	color: white;
	display: block;
}

table#helpTable td, table#helpTable th {
	border: 1px solid grey;
	padding: 1em;
	min-width: 10em;
}
table#helpTable img {
	vertical-align: bottom;
}

.ui-corner-all {
	border-radius: 0px;
}