#logo {
	background: url('img/LAJI_FI_valk_onlylogo.png') no-repeat 50%;
	height: 35px;
	width: 200px;
	display: inline-block;
	margin-right: 180px;
}
.ui-widget {
	font-size: 11px;
}

.speciesName {
	font-style: italic;
	white-space: nowrap;
}

.author {
	display: inline-block;
	max-width: 150px;
	font-size: 10px;
	padding-left: 7px;
	padding-right: 7px;
}

#toolbox {
	position: fixed;
	top: 35px;
	right: 15px;
	width: 276px;
	z-index: 10;
}
#toolboxToggle { cursor: pointer; }
#toolbox > div { 
	padding: 5px; 
}
#toolbox > div, #toolbox > table {
	width: 100%;
}
#toolbox table tr td {
	vertical-align: top;
}
#toolbox table tr td :last  {
	text-align: center;
}
.switchContainer {
	display: inline-block;
}
#taxonSearch input {
	display: inline-block;
}

.taxonomySearchResultContainer p {
	padding: 0px;
	margin: 0px;
	font-size: 90%;
	font-weight: normal;
}
.taxonomySearchResultContainer h3 {
    margin: 0px;
	padding: 0px;
	font-size: 90%;
}
.taxonomySearchResultContainer a {
	color: rgb(33, 97, 203);
}


.resourceListTable thead th {
  background-color: rgb(174,208,234);
}
.resourceListTable tr:nth-child(even) {
	background-color: #eee;
}
.resourceListTable td, th {
	padding: 5px;
}

label.longtext {
	display: block;
	margin-top: 1em;
}

label { 
	display: inline-block;
	width: 155px;
}
#editTaxonDescriptions label {
	width: auto;
	padding-right: 1em;
}
select, input {
	width: 185px;
}
#groupForm select {
	width: 400px;
}
#editTaxonDescriptions input {
	width: 400px;
}
textarea {
	height: 3em;
	width: 190px;
}
input[type="submit"] {
	width: auto;
}
.requiredFieldMarker {
	color: red;
	font-weight: bold;
	font-size: 120%;
	cursor: pointer;
}

form ul li {
	list-style: none;
}

#checklistForm .checklistName, #checklistForm textarea {
	width: 300px;
	height: auto;
}
#publicationForm .citation {
	width: 600px;
	height: 120px;
}

#editTaxonContent .ui-button-text {
	padding: 2px;
	padding-left: 0;
	padding-right: 0;
	font-size: 80%;
}
#editTaxonContent .saveButton .ui-button-text {
	font-size: 100%;
	padding: 5px;
}
#editTaxonContent .saveButton {
	margin-top: 2px;
	margin-left: 10px;
	display: block;
}

#vernacularNameTable label {
	width: auto;
}
.languageSelector {
	width: auto;
}
a.addNewItem {
	color: rgb(20,110,20);
}

div.success {
	display: block;
	font-weight: bold;
	margin: 3px;
	margin-left: 30px;
}
div#taxonEditHeader {
	display: inline-block;
	font-size: 150%;
	color: rgb(100,150,100);
}
.editor, .expert {
	padding: 5px;
}
.taxonChildTools .taxonEditorExpert {
	color: white;
	padding: 5px;
	font-size: 90%;
}
.noPermissionsToAlterTaxon {
	margin: 10px;
	color: rgb(131, 121, 121);
	font-weight: bold;
}
.publicationSelect select, .publicationSelect input {
	width: 350px;
}
.publicationSelect .chosen-drop {
	width: 700px !important;
}

tr.errorMessage td {
	min-width: 150px;
}

.taxonDeleteContainer {
	padding-top: 70px;
	text-align: right;
}
.taxonDeleteContainer button {
	font-size: 15px;
	padding: 10px;
}

.taxonWithTools.ui-draggable-dragging .taxonDropArea { 
	visibility: hidden; 
}

.showChildrenTools {
	display: inline-block;
}

#descriptionTextButton, #imagesButton  {
	font-size: 0.8em;
	padding: 0.2em;
	padding-left: 1em;
	padding-right: 2em;
	margin: 0.5em;
	margin-left: 1em;
}
#descriptionTextButton {
	background-image: url("img/taxonedit_text.png");
	background-repeat: no-repeat;
	background-position: right 5px center;
}
#imagesButton {
	background-image: url("img/taxonedit_image.png");
	background-repeat: no-repeat;
	background-position: right 5px center;
}

#iframeContainer iframe {
	height: 100%;
	width: 100%;
}

#editTaxonDescriptions .portlet {
	width: 600px;
	dislay: inline-block;
	float: left;
} 
#editTaxonDescriptions .portlet-header {
	padding: 0.6em;
	font-size: 1.2em;
}

.informalGroupsTable td {
	max-width: 300px;
	padding-bottom: 0px;
	padding-top: 0px;
	white-space: nowrap;
	overflow: hidden;
	font-size: 90%;
	vertical-align: top;
}

.informalGroupsTable tr:nth-child(2n) {
	background-color: inherit;
}

.informalGroupsTable {
	border-collapse: collapse;
}

.informalGroupsTable tr.even { background-color: #eee !important; }

span.indent { display: inline-block; }
.indent_0 td { padding-bottom: 5px; border-top: 20px solid transparent; }
.indent_1 span.indent { padding-left: 20px; }
.indent_2 span.indent { padding-left: 50px; }
.indent_3 span.indent { padding-left: 70px; }
.indent_4 span.indent { padding-left: 80px; }
.indent_5 span.indent { padding-left: 110px; }
.indent_6 span.indent { padding-left: 120px; }
.indent_7 span.indent { padding-left: 150px; }

.informalGroupsTable .ui-button-text {
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 9px;
}

.inheritedGroups li {
  max-width: 350px;
  white-space: nowrap;
  overflow: hidden;
}
