#logo {
	background: url('img/LAJI_FI_valk_onlylogo.png') no-repeat 50%;
	height: 35px;
	width: 200px;
	display: inline-block;
	margin-right: 180px;
}
.checklistTable tr:nth-child(even) {
	background-color: #eee;
}
.checklistTable td {
	padding: 5px;
}

label.longtext {
	display: block;
}

label { 
	display: inline-block;
	width: 155px;
}
#editTaxonDescriptions label {
	width: auto;
	padding-right: 1em;
}
select, input, textarea {
	width: 185px;
}
#editTaxonDescriptions input {
	width: 400px;
}
textarea {
	height: 3em;
}
textarea.longtext {
	width: 550px;
	height: 90px;
}
input[type="submit"] {
	width: auto;
}
.requiredFieldMarker {
	color: red;
	font-weight: bold;
	font-size: 120%;
	cursor: pointer;
}

form ul li {
	list-style: none;
}

#checklistForm .checklistName, #checklistForm textarea {
	width: 300px;
	height: auto;
}
#publicationForm .citation {
	width: 600px;
	height: 120px;
}

#editTaxonContent .ui-button-text {
	padding: 2px;
	padding-left: 0;
	padding-right: 0;
	font-size: 80%;
}
#editTaxonContent .saveButton .ui-button-text {
	font-size: 100%;
	padding: 5px;
}
#editTaxonContent .saveButton {
	margin-top: 2px;
	margin-left: 10px;
	display: block;
}

#vernacularNameTable label {
	width: auto;
}
.languageSelector {
	width: auto;
}
a.addNewItem {
	color: rgb(20,110,20);
}

div.success {
	display: block;
	font-weight: bold;
	margin: 3px;
	margin-left: 30px;
}
div#taxonEditHeader {
	display: inline-block;
	font-size: 150%;
	color: rgb(100,150,100);
}
.editor, .expert {
	padding: 5px;
}
.taxonChildTools .taxonEditorExpert {
	color: white;
	padding: 5px;
	font-size: 90%;
}
.noPermissionsToAlterTaxon {
	margin: 10px;
	color: rgb(131, 121, 121);
	font-weight: bold;
}
.publicationSelect select, .publicationSelect input {
	width: 350px;
}
.publicationSelect .chosen-drop {
	width: 700px !important;
}

tr.errorMessage td {
	min-width: 150px;
}

.taxonDeleteContainer {
	padding-top: 70px;
	text-align: right;
}
.taxonDeleteContainer button {
	font-size: 15px;
	padding: 10px;
}

.taxonWithTools.ui-draggable-dragging .taxonDropArea { 
	visibility: hidden; 
}

.showChildrenTools {
	display: inline-block;
}

#taxonEditHeader button {
	font-size: 0.8em;
	padding: 0.2em;
	padding-left: 1em;
	padding-right: 2em;
	margin: 0.5em;
	margin-left: 1em;
}
#descriptionTextButton {
	background-image: url("img/taxonedit_text.png");
	background-repeat: no-repeat;
	background-position: right 5px center;
}
#imagesButton {
	background-image: url("img/taxonedit_image.png");
	background-repeat: no-repeat;
	background-position: right 5px center;
}

#iframeContainer iframe {
	height: 100%;
	width: 100%;
}

