#content {
	
}


div#luomusLogin, div#lajiAuthLogin {
  float: left;
  margin: 4em;
}
div#lajiAuthLogin ul li {
  list-style-type: none;
  margin: 1em;
  margin-bottom: 2em;
}
div#luomusLogin label {
  width: auto;
  margin-right: 1em;
}
div#luomusLogin .error, div#lajiAuthLogin .error {
	font-variant: small-caps;
	color: rgb(200, 100, 150);
	text-align: center;
}

.ui-widget {
	font-size: 0.9em;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hidden {
	display: none;
}

#userinfo li {
	float: right;
	list-style: none;
	display: block;
	margin: 3px;
}
#userinfo .name {
	font-weight: bold;
}
#userinfo .ui-button-text {
	padding: 1px;
	padding-left: 5px;
	padding-right: 5px;
	font-variant: small-caps;
}
span.ui-icon {
	display: inline-block;
}

.helpPage {
	margin: auto;
}

ul#questionsAndAnswers li {
	list-style-type: none;
	margin-bottom: 20px;
}
ul#questionsAndAnswers li p {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	margin-bottom: 4px;
	max-width: 550px;
}
ul#questionsAndAnswers li p .qa {
	display: inline-block;
	width: 30px;
	font-weight: bold;
}

#login input {
	width: 170px;
	font-size: 12px;
	font-family: monospace;
	padding: 5px;
	margin-left: 5px;
}

label {
	vertical-align: top;
}
label.error, span.error {
	color: rgb(200, 100, 150);
}
label.error {
	width: auto !important;
	margin-left: 5px;
}
.helpPage {
	max-width: 800px;
}
.info {
	font-size: 90%;
	max-width: 360px;
	display: block;
	margin: 10px;
	white-space: normal;
}
.important {
	font-size: 100%;
	font-weight: bold;
}

.servicelist li {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	display: inline-block;
	padding: 5px;
	vertical-align: top;
}
.servicelist li:hover {
	background-color: rgb(228, 241, 251);
	border-radius: 10px;
}
.servicelist select, .servicelist input, .servicelist textarea {
	width: 180px;
}

.flashMessage, .successMessage, .errorMessage, .warningMessage {
	padding: 10px;
	display: block;
	margin: 10px;
	border: 1px dotted grey;
}
.successMessage {
	background-color: rgb(200,250,200);
	color: rgb(50,100,50);
}
.errorMessage {
	border: 2px dashed red;
	color: rgb(221, 93, 93);
	padding: 1em;
	display: inline-block;
	font-size: 1.2em;
}
.warningMessage {
	border: 1px dotted rgb(252, 182, 70);
	color: rgb(114, 70, 0);
}
.validationResults {
	font-size: 130%;
}
.validationResults td {
	padding: 5px;
	padding-right: 10px;
}
h4.errorMessage, .errorMessage h4 {
	border-style: none;
	color: red;
	font-size: large;
	margin-bottom: 5px;
}

select[disabled] {
    color: rgb(55, 55, 55);
    background-color: rgb(221, 221, 221);
    border-style: solid;
}
.chosen-disabled  {
    color: rgb(55, 55, 55);
    background: none !important;
    background-color: rgb(221, 221, 221);
}

table#resource {
	border-collapse: collapse;
}
table#resource td, table#resource th {
	padding: 4px;
}
table#resource tbody tr:nth-child(even) td {
	background-color: rgb(219, 232, 251);
}
table#resource caption, table#resource th {
	background-color: rgb(219, 232, 251);
	font-weight: bold;
	font-size: 1.2em;
	padding: 5px;
}
table#resource caption {
	font-size: 1.5em;
}

.literal, .resource {
  border-radius: 1px;
  background-color: #85C8CB;
  font-size: 90%;
  width: 80px;
  text-align: center;
  display: inline-block;
}
.resource {
   background-color: #C8C885;
}
.label {
  font-size: 80%;
}
table#resource.triplets input, table#resource.triplets select, table#resource.triplets textarea {
  width: 280px;
}
table#resource.triplets select.langcode {
	width: auto;
}
table#resource.triplets {
	min-width: 800px;
	float: left;
}
table#resource.triplets th {
	text-align: left;
} 
table#resource.triplets td {
	white-space: nowrap;
	padding-right: 10px;
}
div#currentDataModel {
	float: left;
	margin-left: 1em;
	max-width: 700px;
	overflow: auto;
	margin-top: 4em;
}

table#resource.triplets .buttons {
	text-align: right;
}

.cancelButton {
	margin-left: 5px;
}
.deleteAllButton {
	color: red;
	margin-left: 25px;
}
.blocker {
	top: 0; left: 0;
	position: fixed;
	height: 100%;
	width: 100%;
	background: grey;
	background: #AAA url(jquery-ui/css/cupertino/images/ui-bg_diagonals-thick_90_eeeeee_40x40.png) repeat;
	opacity: 0.8;
	font-size: 3em;
	text-align: center;
	margin: 0;
	padding: 0;
	z-index: 1000;
	padding-top: 4em;
}

#addNewPredicateTools {
	font-size: 0.8em;
	color: rgb(51, 125, 77);
}
.newRow td {
	background-color: rgb(200,255,200) !important;
}

div.system {
	display: inline-block;
	padding: 0.2em;
	margin: 0.6em;
	border: 1px dotted grey;
	width: 300px;
	vertical-align: top;
	font-size: 0.9em;
	cursor: pointer;
}
div.system.webApplication { background-color: rgb(200,200,255); }
div.system.webService { background-color: rgb(250,200,245); }
div.system.softwareComponent { background-color: rgb(200,240,235); }
div.system.program { background-color: rgb(200,250,255); }
div.system.database { background-color: rgb(250,250,215); }
div.system.hardware { background-color: rgb(180,180,185); }
div.system.server { background-color: rgb(210,220,220); }
div.system.other { background-color: rgb(250,60,255); }

div.system label {
	display: block;
	margin-top: 0.5em;
}
div.system a.edit {
	float: right;
	padding-left: 4px;
}
div.system h2 {
	border-bottom: 2px solid green;
	margin-right: 2em;
}
div.system h3 {
	font-size: 1.2em;
	margin: 0;
	padding: 0;
	margin-top: 0.3em;
}
#systemsTable {
	border-collapse: separate;
}
#systemsTable td {
	vertical-align: top;
	border: 2px solid grey;
	border-radius: 10px;
	background-color: #eee;
	padding: 0.3em;
	width: 20%;
}
.systemType { 
	float: right;
	font-size: 80%;
	color: #444; 
}

table#namespaces {
	border-collapse: collapse;
}
table#namespaces td, table#namespaces th {
	padding: 4px;
}
table#namespaces th {
	background-color: rgb(219, 232, 251);
	font-weight: bold;
	font-size: 1.2em;
	padding: 5px;
}


